/*-----------------------------------------------reset css----------------------------------*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
     color: #414041;
     font-family: 'Open Sans', sans-serif;
}

{
    font-family: 'Open Sans', sans-serif;
   
}

.clear{
    float: none;
    clear: both;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 35px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #414042;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    width: 0px !important;
    border-bottom: 1px solid transparent;
}



/******************Dropdown menu starts here************************/

.menu-icon {
    position: absolute;
    right: 15px;
    top: 4px;
    padding: 10px;
    background-color: #2B3990;
    width: 50px;
    border-radius: 40px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    position: fixed;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 35px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    width: 0px !important;
    border-bottom: 1px solid transparent;
}
.dropdown-container a {
    font-size: 15px !important;
}

.menu-sutra{
    font-size: 25px !important;
    color: #dddddd !important;
    border-bottom: 1px solid #414042 !important;
    padding: 6px 8px 6px 16px !important;
}
.menu-menu{
    font-size: 18px !important;
    border-bottom: 1px solid !important;
    padding: 6px 8px 6px 16px !important;
}
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid #414042;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}



/* Add an active class to the active dropdown button */


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*************************Dropdown menu ends here*****************************/

#main {
    transition: margin-left .5s;
    padding: 0px;
    position: relative;
}

.menu-icon{
    position: absolute;
    right: 30px;
    top: 20px;
    padding: 7px;
    background-color: #2B3990;
    width: 40px;
    border-radius: 40px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    position: fixed;
}

.search-form{
    position: absolute;
    right: 8%;
    top: 22px;
    z-index: 1;
}

.sutra{
    position: absolute;
    left: 0px;
    top:20px;
    background-color: #f1f1f1;
    /*background-color:#f1f1f157;*/
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
    padding: 10px;
    width: 175px;
    position: fixed;
}

.sutra img{
    width: 100px;
    float: right;
    margin-right: 10px;
}

.search-form input[type="text"]{
    padding: 17px;
    border-radius: 30px;
    border: 1px solid transparent;
    display: inline-block;
    width: 300px;
    background-color: #414042;
    opacity: .5;
}

input:focus{
    border: 1px solid transparent;
}

.search-form input[type="text"]::placeholder{
    color: #fff;
    font-size: 21px;
}

.search-form button{
    background: transparent;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: #2B3990;
    padding: 13px;
    position: absolute;
    top: 0;
    right: 0;
}

.search-form button img{
        width: 20px;
}
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* About us text first section*/

.top-name{
    text-align: center;
    font-size: 72px;
    font-weight: 500px;
    opacity: 0.62;
    color: #414042;
    position: absolute;
    left: 39%;
    top: 40%;
}

.about{
    background-image: url(../img/board-bright-design-235994.jpg);
    height: 500px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
    position: relative;
}

.we-are{
    text-align: center;
}

.we-are h2{
    margin-top: 5%;
    font-size: 28px;
}

.we-are p{
    padding: 20px 65px;
    font-size: 21px;
}

.middle-sec{
    width: 50%;
    margin: 0 auto;
}

.inner {
    width: 20%;
    height: 1px;
    margin: 10px auto;
    border-bottom: 2px solid #969696;
}

/* class paper starts here*/
.paper{
    margin: 20px auto;
}

/* Mission and vision section starts here*/

.mission{
    margin: 5% auto;
}

.mission h2{
    text-align: center;
    font-size: 28px;
}

/*only mission starts here*/
.only-mission{
    background-color: #414041;
    opacity: .8;
    color: #fff;
    padding-bottom: 9%;
    clip-path: polygon(0 1%, 100% 1%, 100% 53%, 0 100%);
}

.only-mission h3{
    font-size: 24px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.only-mission p{
    font-size: 21px;
    padding: 20px;
}

/*only vission starts here*/

.only-vission .vision-txt{
    font-size: 24px;
    padding-bottom: 8%;
}

.grid-img img{
    width: 170px;
    height: 170px;
}

.right-txt, .left-txt, .left-img, .right-img {
    float: left;
} 

.right-img img{
    float: right;
}

.right-txt, .left-txt{
    width: 70%;
}

.right-img, .left-img{
    width: 30%;
}

.right-txt h3, .left-txt h3{
    font-size: 21px;
    margin-bottom: 20px;
}

.right-txt p, .left-txt p{
    font-size: 18px;
    text-align: justify;
}

.criss-sec{
    margin-bottom: 30px;
}

/* Our team section starts here*/

.team-img{
    clip-path: polygon(0 1%, 100% 21%, 100% 100%, 0 100%);
    background: url(../img/business-confidence-corporate-776615.jpg);
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Mission annd value starts her*/

.title-value{
    text-align: center;
    font-size: 28px;
    margin-top: 7%;
}

.mission-values p{
    text-align: justify;
    font-size: 18px;
    margin-top: 5%;
    margin-bottom: 7%;
}

/* Presence section starts here*/

.presence p{
    text-align: center;
    font-size: 18px;
    margin-top: 5%;
    margin-bottom: 7%;
}

/*Earth image with parallax effects starts here*/
.earth-img{
    background: url(../img/continents-geography-globe-269773.jpg);
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Shake hand image with parallax effect*/
.shake-img{
    background: url(../img/adults-agreement-beverage-567633.jpg);
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* paper image starts with parallax effect here*/
.paper{
    background: url(../img/art-blueprint-brainstorming-8704.jpg);
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* clients and partner section starts here*/

.clients p{
    text-align: center;
    font-size: 18px;
    padding: 3% 0% 5% 0%;
}

.grid-client li{
    width: 10%;
    float: left;
    list-style-type: none;
    margin-bottom: 40px;
    margin-left: 5px;
}

.grid-client li img{
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.client-logo{
    text-align: center;
}

/* footer section starts here*/

.footer{
    background-color: #414042;
    color: #D1D3D4;
    padding: 1% 5%;
}

.footer h3{
    font-size: 15px !important;
    margin-bottom: 5px;
}

.widget2{
    float: left;
    width: 17%;
    margin-left: 2%;
}

.footer li{
    list-style-type: none;
}

ul.f-link1 {
    margin-top: 0px;
}

.footer li a{
    text-decoration: none;
     color: #D1D3D4;
}

.f-link1 li, .f-link2 li, .f-link3 address, .f-link4 address, .f-link5 address{
    font-size: 13px;
    text-decoration: none;
    font-style: normal;
}

.f-link1 li{
    margin-left: 20%;
}

.footer address{
    text-decoration: none;
}

.foot-logo img{
    width: 40%;
}

/* bottom footer starts here*/

.bottom-footer{
    margin-top: 4%;
    font-size: 12px !important;
}

.left-bottom{
    float: left;
}

.right-bottom{
    float: right;
}

.social-side li{
    float: left;
}

.social-side li a{
    display: inline-block;
    padding: 10px;
}

/* ----------------------------------------Mobile phone for 768px width css strats here------------------------------------*/

@media only screen and (max-width: 768px){
    .search-form{ display: none !important;}
    .we-are p{display: none;}
    .about{clip-path: none !important;}
    .top-name{
    text-align: center;
    font-size: 48px;
    font-weight: 500px;
    opacity: 0.62;
    color: #414042;
    position: absolute;
    left: 30%;
    top: 40%;
}
.only-mission{
    background-color: #414041;
    opacity: .8;
    color: #fff;
    padding-bottom: 9%;
    clip-path: none !important;
}
.right-txt, .left-txt, .left-img, .right-img {
    float: none;
    margin-bottom: 5%;
} 

.right-img img{
    float: none;
}
.right-txt, .left-txt{
    width: 100%;
}

.right-img, .left-img{
    width: 100%;
}
.grid-img img{
    width: 100%;
    height: auto;
}
.grid-client li{
    width: 30%;
}
.widget2{
    width: 100%;
    margin: 5% auto;
    float: none;
}
.f-link1 li{
    margin-left: 0%;
}

.foot-logo img {
    width: 30%;
}
.sutra{
    display: none;
}
.middle-sec {
    width: 97%;
    margin: 0 auto;
}
    
}


/* ----------------------------------------Mobile phone for 400px width css strats here------------------------------------*/

@media only screen and (max-width: 400px){
    .search-form{ display: none !important;}
    .we-are p{display: none;}
    .about{clip-path: none !important;}
    .top-name{
    text-align: center;
    font-size: 48px;
    font-weight: 500px;
    opacity: 0.62;
    color: #414042;
    position: absolute;
    left: 30%;
    top: 40%;
}
.only-mission{
    background-color: #414041;
    opacity: .8;
    color: #fff;
    padding-bottom: 9%;
    clip-path: none !important;
}
.right-txt, .left-txt, .left-img, .right-img {
    float: none;
    margin-bottom: 5%;
} 

.right-img img{
    float: none;
}
.right-txt, .left-txt{
    width: 100%;
}

.right-img, .left-img{
    width: 100%;
}
.grid-img img{
    width: 100%;
    height: auto;
}
.grid-client li{
    width: 100%;
}
.widget2{
    width: 100%;
    margin: 5% auto;
    float: none;
}
.f-link1 li{
    margin-left: 0%;
}

.foot-logo img {
    width: 30%;
}

.sutra{display: none;}
}

/*===========*/
.img-slider{
   padding: 5%;
}
.img-slider img{
   display: inline-block;
   width: 130px;
   height: 70px;
   margin-left: 20px;
}
.visible-carousal{
   position: relative;
   padding-left: 3%;
}
#prev1{
   position: absolute;
   left: 0;
   bottom: 50%;
   text-decoration: none;
}
#next1{
   position: absolute;
   right: 0;
   bottom: 50%;
   text-decoration: none;
}

