/*-----------------------------------------------reset css----------------------------------*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
     color: #414041;
     font-family: 'Open Sans', sans-serif;
}

{
    font-family: 'Open Sans', sans-serif;
   
}

.clear{
    float: none;
    clear: both;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 35px;
}



/******************Dropdown menu starts here************************/

.menu-icon {
    position: absolute;
    right: 15px;
    top: 4px;
    padding: 10px;
    background-color: #2B3990;
    width: 50px;
    border-radius: 40px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    position: fixed;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 35px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    width: 0px !important;
    border-bottom: 1px solid transparent;
}
.dropdown-container a {
    font-size: 15px !important;
}

.menu-sutra{
    font-size: 25px !important;
    color: #dddddd !important;
    border-bottom: 1px solid #414042 !important;
    padding: 6px 8px 6px 16px !important;
}
.menu-menu{
    font-size: 18px !important;
    border-bottom: 1px solid !important;
    padding: 6px 8px 6px 16px !important;
}
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid #414042;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}



/* Add an active class to the active dropdown button */


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*************************Dropdown menu ends here*****************************/

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border-bottom: 1px solid transparent;
    width: 0px;
}

#main {
    transition: .5s;
    padding: 0px;
    position: relative;
}

.menu-icon{
    position: absolute;
    right: 30px;
    top: 20px;
    padding: 7px;
    background-color: #2B3990;
    width: 55px;
    border-radius: 40px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    position: fixed;
	height: 55px;
}

.search-form{
    position: absolute;
    right: 8%;
    top: 22px;
    z-index: 1;
}

.sutra{
    position: absolute;
    left: 0px;
    top:20px;
    background-color: #f1f1f1;
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
    padding: 10px;
    width: 175px;
    position: fixed;
}

.sutra img{
    width: 100px;
    float: right;
    margin-right: 20px;
}

.search-form input[type="text"]{
    padding: 17px;
    border-radius: 30px;
    border: 1px solid transparent;
    display: inline-block;
    width: 300px;
    background-color: #414042;
    opacity: .5;
}

input:focus{
    border: 1px solid transparent;
}

.search-form input[type="text"]::placeholder{
    color: #fff;
    font-size: 21px;
}

.search-form button{
    background: transparent;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: #2B3990;
    padding: 13px;
    position: absolute;
    top: 0;
    right: 0;
}

.search-form button img{
        width: 20px;
}
.f-link1 {
    margin-top: 0px;
}
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Media section one starts here*/
.contact-img{
    background-image: url(../img/app-apple-application-38544.jpg);
    width: 100%;
    position: relative;
    height: 637px;
    background-position-x: -11px;
}
.text-contact{
    position: absolute;
    bottom: 0%;
    padding-left: 22%;
    width: 100%;
    background: #414042;
    opacity: .5;
    /*padding: 30px;*/
    font-size: 40px;
}

.text-contact h1{
    color: #e5e5e5;
    font-size: 42px;
    padding: 1% 0;
}
.middle-sec{
    width: 60%;
    margin: 0 auto;
}

.middle-sec-carousel{
    width: 45%;
    margin: 0 auto;
}

.title-download{
    text-align: center;
}

.inner {
    width: 20%;
    height: 1px;
    margin: 10px auto;
    border-bottom: 2px solid #969696;
}

/* Download Section starts here*/
.d-ul{
    margin-left: 3%;
}
.d-ul li{
    float: left;
    width: 45%;
    list-style-type: none;
}
.download{
    margin-top: 5%;
    margin-bottom: 5%;
}
.d-sec{
    padding-bottom: 5%;
}
.d-ul li .left-d{
    float: left;
    width: 48%;
}

.d-ul li .left-d img{
    width: 100%;
    height: 100%;
}

.d-ul li .right-d{
    float: left;
    width: 46%;
    padding-left: 20px;
}

.d-ul li .right-d img{
    width: 100%;
    height: 100%;
}

.d-txt{
    padding-bottom: 60px;
}
.title-gallery{
    text-align: center;
}
.blog-title{
    text-align: center;
}
.blog-grid li{
    float: left;
    list-style-type: none;
    width: 45%;
    font-size: 12px;
    height: 256px;
}
.blog-grid li img{
    width: 100%;
    height:100%;
}
.blog-txt p{
    padding: 20px;
}
.blog-txt h3{
    padding-left: 20px;
    padding-right: 20px;
}
.blog-txt{
    background-color: #2B3990;
    color: #fff;
}

.right-d a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #2b3990;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
}
.blog{
	margin-top: 5%;
    margin-bottom: 5%;
}

/*gallery slider css starts here*/
.gallery{
    background-color: #2d2c2d;
    padding: 5%;
}
.title-gallery{
    color: #fff;
}
.gallery-slider{
    margin-top: 5%;
}

/*All carousal*/
.img-slider{
    padding: 5%;
}
.img-slider img{
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-left: 20px;
}
.visible-carousal{
    position: relative;
    padding-left: 3%;
}
#prev1{
    position: absolute;
    left: 0;
    bottom: 50%;
    text-decoration: none;
}
#next1{
    position: absolute;
    right: 0;
    bottom: 50%;
    text-decoration: none;
}

/* footer section starts here*/

.footer{
    background-color: #414042;
    color: #D1D3D4;
    padding: 1% 5%;
}

.footer h3{
    font-size: 15px !important;
    margin-bottom: 5px;
}

.widget2{
    float: left;
    width: 17%;
    margin-left: 2%;
}

.footer li{
    list-style-type: none;
}

.footer li a{
    text-decoration: none;
     color: #D1D3D4;
}

.f-link1 li, .f-link2 li, .f-link3 address, .f-link4 address, .f-link5 address{
    font-size: 13px;
    text-decoration: none;
    font-style: normal;
}

.f-link1 li{
    margin-left: 20%;
}

.footer address{
    text-decoration: none;
}

.foot-logo img{
    width: 40%;
}

/* bottom footer starts here*/

.bottom-footer{
    margin-top: 4%;
    font-size: 12px !important;
}

.left-bottom{
    float: left;
}

.right-bottom{
    float: right;
}

.social-side li{
    float: left;
}

.social-side li a{
    display: inline-block;
    padding: 10px;
}


/*Carousel*/
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}